firebase_functions
firebase_admin
feedparser==6.0.11
PyMuPDF==1.23.20
openai==1.16.2
tiktoken==0.5.2
firebase-admin
google-cloud-storage
scikit-learn==1.4.0
numpy
joblib==1.3.2
beautifulsoup4==4.12.3
